[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "tabline.vim"]
	path = tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "powerline-monaco"]
	path = powerline-monaco
	url = https://gist.github.com/229a0729ec79c6fcec81.git
[submodule "vim-easytags"]
	path = vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
